/* otodopode.html */
body {
    background: #ddcc99;
    color: #332277;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:link {
    color: #332277;
}

a:visited {
    color: #808080;
}

ol,
ul {
    line-height: 200%;
}

nav {
    display: block;
    width: 150px;
    float: left;
    margin-right: 10px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
}

header {
    display: block;
    margin-bottom: 1px;
}

nav ul {
    color:#332277;
    line-height: 230%;
    margin-top: 50px;
    list-style-type: circle;
}

section {
    display: block;
    width: 76%;
    float: right;
}
.imgLogo {
    position: left;
    border-bottom: solid 3px;
    margin-bottom: 6px;
    padding-bottom: 5px;
}

.ender {
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    float: right;
}

.apres {
    text-align: center;
    font-size: 18px;
}

/* Section Materiais.html*/

.titulo {
    text-align: center;
}

.listMat {
    display: flex;
    text-align: center;
    width: 340px;
    color: #aa0000;
    background-color: #eecc88;
    padding: 10px 10px 10px 50px;
    border: 2px;
    border-style: solid;
    border-color: #000055;
    margin: 0px auto auto 10px;  
    place-items: center;    
}

.letra ul {
    list-style: square;
}

ul {
    list-style-type: upper-alpha;
}

/* Section Modelos.html*/

.tabMod {
    border: solid;
    border-collapse: collapse;
    margin: 6px auto 10px auto;
    font-size: 14px;
    background-color: #eeee99;
    color: #000066;
    font-family: 'Muli' sans-serif ;
}

.tabMod th, td {
    border: 3px solid #226699;
    padding: 6px 12px 6px 12px;
    height: 30px; 
}

.linTH {
    color: #ffffff;
    background: #33aa66;
    vertical-align: middle;
    align-content: center;
}

.colTH {
    color: #ffffff;
    background: #1188cc;
    align-items: left;
}

.preco {
    color: #ee0000;
    font-weight: bold;
    vertical-align: middle;
}

.imgCel {
    background: #ffffff;
}

.imgCel img {
    width: 60px;
    height: 60px;
}